In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:/python/project/vehicle maintenance2/vehicle_maintenance_data.csv")

In [3]:
df.head()

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446,6,2,16.977482,Good,Good,Weak,1

In [4]:
df.columns

Index(['Vehicle_Model', 'Mileage', 'Maintenance_History', 'Reported_Issues',
       'Vehicle_Age', 'Fuel_Type', 'Transmission_Type', 'Engine_Size',
       'Odometer_Reading', 'Last_Service_Date', 'Warranty_Expiry_Date',
       'Owner_Type', 'Insurance_Premium', 'Service_History',
       'Accident_History', 'Fuel_Efficiency', 'Tire_Condition',
       'Brake_Condition', 'Battery_Status', 'Need_Maintenance'],
      dtype='object')

In [5]:
df['Vehicle_Model'].value_counts()

Vehicle_Model
Bus           8414
Van           8400
SUV           8360
Truck         8328
Motorcycle    8295
Car           8203
Name: count, dtype: int64

In [6]:
df.isnull().sum()

Vehicle_Model           0
Mileage                 0
Maintenance_History     0
Reported_Issues         0
Vehicle_Age             0
Fuel_Type               0
Transmission_Type       0
Engine_Size             0
Odometer_Reading        0
Last_Service_Date       0
Warranty_Expiry_Date    0
Owner_Type              0
Insurance_Premium       0
Service_History         0
Accident_History        0
Fuel_Efficiency         0
Tire_Condition          0
Brake_Condition         0
Battery_Status          0
Need_Maintenance        0
dtype: int64

In [7]:
df.shape

(50000, 20)

In [8]:
df.dtypes

Vehicle_Model            object
Mileage                   int64
Maintenance_History      object
Reported_Issues           int64
Vehicle_Age               int64
Fuel_Type                object
Transmission_Type        object
Engine_Size               int64
Odometer_Reading          int64
Last_Service_Date        object
Warranty_Expiry_Date     object
Owner_Type               object
Insurance_Premium         int64
Service_History           int64
Accident_History          int64
Fuel_Efficiency         float64
Tire_Condition           object
Brake_Condition          object
Battery_Status           object
Need_Maintenance          int64
dtype: object

In [9]:
#preprocessing

In [10]:
df['Last_Service_Date']=pd.to_datetime(df['Last_Service_Date'])
df['Warranty_Expiry_Date']=pd.to_datetime(df['Warranty_Expiry_Date'])
df['days_without_service']=(pd.to_datetime('today')-df['Last_Service_Date']).dt.days
df['warranty_left']=(pd.to_datetime('today')-df['Warranty_Expiry_Date']).dt.days
len(df['Vehicle_Model'].unique())
columns=['Vehicle_Model','Maintenance_History','Fuel_Type','Transmission_Type','Owner_Type','Tire_Condition','Brake_Condition','Battery_Status']
data=pd.get_dummies(df,columns=columns)
data.dtypes
data.columns

Index(['Mileage', 'Reported_Issues', 'Vehicle_Age', 'Engine_Size',
       'Odometer_Reading', 'Last_Service_Date', 'Warranty_Expiry_Date',
       'Insurance_Premium', 'Service_History', 'Accident_History',
       'Fuel_Efficiency', 'Need_Maintenance', 'days_without_service',
       'warranty_left', 'Vehicle_Model_Bus', 'Vehicle_Model_Car',
       'Vehicle_Model_Motorcycle', 'Vehicle_Model_SUV', 'Vehicle_Model_Truck',
       'Vehicle_Model_Van', 'Maintenance_History_Average',
       'Maintenance_History_Good', 'Maintenance_History_Poor',
       'Fuel_Type_Diesel', 'Fuel_Type_Electric', 'Fuel_Type_Petrol',
       'Transmission_Type_Automatic', 'Transmission_Type_Manual',
       'Owner_Type_First', 'Owner_Type_Second', 'Owner_Type_Third',
       'Tire_Condition_Good', 'Tire_Condition_New', 'Tire_Condition_Worn Out',
       'Brake_Condition_Good', 'Brake_Condition_New',
       'Brake_Condition_Worn Out', 'Battery_Status_Good', 'Battery_Status_New',
       'Battery_Status_Weak'],
      dtype='object')

In [63]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
columns=['Mileage','Engine_Size','Odometer_Reading','Fuel_Efficiency','Insurance_Premium']
data[columns]=scaler.fit_transform(data[columns])
data.head()

,Mileage,Reported_Issues,Vehicle_Age,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Insurance_Premium,Service_History,Accident_History,...,Owner_Type_Third,Tire_Condition_Good,Tire_Condition_New,Tire_Condition_Worn Out,Brake_Condition_Good,Brake_Condition_New,Brake_Condition_Worn Out,Battery_Status_Good,Battery_Status_New,Battery_Status_Weak
0,0.266201,0,4,0.706912,-1.091430,2023-11-23,2025-06-24,0.459160,6,3,...,False,False,True,False,False,True,False,False,False,True
1,0.376465,1,7,1.503508,1.347922,2023-09-21,2025-06-04,0.833918,7,0,...,False,False,True,False,False,True,False,False,False,True
2,0.912441,0,2,-0.089684,-0.963830,2023-06-27,2025-04-27,0.071111,7,0,...,False,False,True,False,True,False,False,False,False,True
3,0.410906,4,5,1.503508,0.141219,2023-08-24,2025-11-05,-1.556810,7,3,...,False,False,True,False,False,False,True,False,True,False
4,-0.638063,5,1,0.706912,0.501554,2023-05-25,2025-09-14,-0.141118,6,2,...,True,True,False,False,True,False,False,False,False,True

In [64]:
x=data.drop(['Need_Maintenance','Last_Service_Date','Warranty_Expiry_Date','Mileage','Insurance_Premium','Fuel_Efficiency'],axis=1)
y=data['Need_Maintenance']
x.columns

Index(['Reported_Issues', 'Vehicle_Age', 'Engine_Size', 'Odometer_Reading',
       'Service_History', 'Accident_History', 'days_without_service',
       'warranty_left', 'Vehicle_Model_Bus', 'Vehicle_Model_Car',
       'Vehicle_Model_Motorcycle', 'Vehicle_Model_SUV', 'Vehicle_Model_Truck',
       'Vehicle_Model_Van', 'Maintenance_History_Average',
       'Maintenance_History_Good', 'Maintenance_History_Poor',
       'Fuel_Type_Diesel', 'Fuel_Type_Electric', 'Fuel_Type_Petrol',
       'Transmission_Type_Automatic', 'Transmission_Type_Manual',
       'Owner_Type_First', 'Owner_Type_Second', 'Owner_Type_Third',
       'Tire_Condition_Good', 'Tire_Condition_New', 'Tire_Condition_Worn Out',
       'Brake_Condition_Good', 'Brake_Condition_New',
       'Brake_Condition_Worn Out', 'Battery_Status_Good', 'Battery_Status_New',
       'Battery_Status_Weak'],
      dtype='object')

In [93]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [66]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(max_iter=2000)
lr.fit(x_train,y_train)
lr_pred=lr.predict(x_test)
print("Logistic Regression Accuracy\n")
print(accuracy_score(y_test,lr_pred))
print("\nLogistic regression accuracy after Cross Validation")
scores=cross_val_score(lr,x,y,cv=5)
print(scores.mean())

Logistic Regression Accuracy

0.9514666666666667

Logistic regression accuracy after Cross Validation
0.9513

In [67]:
from sklearn.ensemble import GradientBoostingClassifier
gb=GradientBoostingClassifier(n_estimators=100,max_depth=3,learning_rate=0.1)
gb.fit(x_train,y_train)
gb_pred=gb.predict(x_test)
print("gradient boosting classifier accuracy\n")
print(accuracy_score(y_test,gb_pred))
scores=cross_val_score(gb,x,y,cv=5)
print("gradient boosting classifier accuracy after cross validation")
print(scores.mean())

gradient boosting classifier accuracy

1.0
gradient boosting classifier accuracy after cross validation
1.0

In [16]:
from sklearn.svm import SVC
sv=SVC()
sv.fit(x_train,y_train)
sv_pred=sv.predict(x_test)
print("Support Vector Classifier Accuracy:")
print(accuracy_score(y_test,sv_pred))
scores=cross_val_score(sv,x,y,cv=3)
print("Support Vector Classifier Accuracy after Cross validation")
print(scores.mean())

Support Vector Classifier Accuracy:
0.8096666666666666
Support Vector Classifier Accuracy after Cross validation
0.809960000247973

In [68]:
import pickle
with open('lr.pkl','wb') as file:
    pickle.dump(lr,file)
print("model loaded")

model loaded

In [69]:
with open('lr.pkl','rb') as file:
    model=pickle.load(file)
print("model loaded")

model loaded

In [70]:
#testing
pred1=model.predict(x_test.iloc[[0]])
print("prediction 1 : ",pred1)
print("actual :",y_test.iloc[0])
pred2=model.predict(x_test.iloc[[20]])
print("prediction 2: ",pred2)
print("actual :",y_test.iloc[20])

prediction 1 :  [1]
actual : 1
prediction 2:  [1]
actual : 1

In [91]:

x2=data.drop(['Mileage','Last_Service_Date','Warranty_Expiry_Date','Insurance_Premium','Fuel_Efficiency'],axis=1)
y2=df['Fuel_Efficiency']
x2.columns

Index(['Reported_Issues', 'Vehicle_Age', 'Engine_Size', 'Odometer_Reading',
       'Service_History', 'Accident_History', 'Need_Maintenance',
       'days_without_service', 'warranty_left', 'Vehicle_Model_Bus',
       'Vehicle_Model_Car', 'Vehicle_Model_Motorcycle', 'Vehicle_Model_SUV',
       'Vehicle_Model_Truck', 'Vehicle_Model_Van',
       'Maintenance_History_Average', 'Maintenance_History_Good',
       'Maintenance_History_Poor', 'Fuel_Type_Diesel', 'Fuel_Type_Electric',
       'Fuel_Type_Petrol', 'Transmission_Type_Automatic',
       'Transmission_Type_Manual', 'Owner_Type_First', 'Owner_Type_Second',
       'Owner_Type_Third', 'Tire_Condition_Good', 'Tire_Condition_New',
       'Tire_Condition_Worn Out', 'Brake_Condition_Good',
       'Brake_Condition_New', 'Brake_Condition_Worn Out',
       'Battery_Status_Good', 'Battery_Status_New', 'Battery_Status_Weak'],
      dtype='object')

In [85]:
from sklearn.neighbors import KNeighborsRegressor
kn=KNeighborsRegressor()
kn.fit(x2_train,y2_train)
kn_pred=kn.predict(x2_test)
print(mean_absolute_error(y2_test,kn_pred))

2.6403905575987765

In [139]:
with open('ln.pkl','wb') as file:
    pickle.dump(kn,file)
print("model loaded")

model loaded

In [140]:
with open('ln.pkl','rb') as file:
    model2=pickle.load(file)
print("model loaded")

model loaded

In [144]:
# testing
pred1=model2.predict(x2_test.iloc[[70]])
print("prediction 1 : ",pred1)
print("actual :",y2_test.iloc[70])

prediction 1 :  [14.51631729]
actual : 13.533694475628016